In [160]:
from collections import defaultdict
def fun(strs):
  d = defaultdict(list)
  for w in strs:
    arr = [0]*26
    for c in w:
      arr[ord(c)-ord('a')] +=1
    d[tuple(arr)].append(w)
  return list(d.values())

In [161]:
strs = ["eat","tea","tan","ate","nat","bat"]
fun(strs)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

first try

In [132]:
def fun1(strs):
  dic = []
  for i,w in enumerate(strs):
    li=[]
    li.append(w)
    print(li)
    for w1 in strs[i+1:]:
      print(w,w1)
      if len(set(w) ^ set(w1)) == 0:
        print(True)
        li.append(w1)
        strs.remove(w1)
    print(strs)
    dic.append(li)
    print(dic)
  return dic

In [133]:
strs = ["","b",""]
fun1(strs)

['']
 b

True
['b', '']
[['', '']]
['']
['b', '']
[['', ''], ['']]

[['', ''], ['']]

In [110]:
set('') ^ set('b')

{'b'}